
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     gap: 10px;
     justify-content: center;
}
.wrapper > div{
  text-align: center;
  padding: 20px 0;
}
.item1{
     grid-column-start: 1;
  grid-column-end: 3;
}
.item2{
     grid-column-start: 3;
  grid-column-end: 4;
}


@media (max-width:800px){
.item2{display:none}

.wrapper{
    grid-template-columns: 1fr;
}
}