.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 0px 20px;
}
.postWrapper {
  background: #0e0e0ebf;
  border-radius: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.userTag {
  display: flex;
  gap: 10px;
  align-items: center;
}
.userTag img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}
.userTag p {
  font-weight: 700;
}

.Post {
  height: max-content;
  width: 100%;
   height: 60vh;
}

.Post > img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width:100%;
  text-align: center;
  height: 100%;
 
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 25px;
  padding-left: 2px;
}

.icons {
  display: flex;
  width: 10vw;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}
.icons :hover {
  transform: scale(1.1);
}
.caption {
  display: flex;
  gap: 10px;
}
.username {
  font-weight: 700;
}
.captionText {
  text-align: start;
  font-size:15px;
}
.active {
  cursor: pointer;
  color: aqua;
}
.commentInput {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.commentInput > form {
  position: relative;
  padding: 0 10px;
  display: flex;
  width: 100%;
gap: 10px;
}

.commentInput img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.likeNumber{
  text-align: left;
  padding:10px 0;
  font-weight: 900;
}
.btn {
  border:0;
  padding:0 10px;
  background:aqua;
 
}
.textField {
  border: 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.361);
  background: transparent;
  width: 100%;
  padding: 10px 0;
  color: aliceblue;
}

.comment{
  overflow-y: scroll;
  height:auto;
  padding:10px 0;
}

.comment::-webkit-scrollbar{
    background-color: transparent;
    width:2px;
    height:10px;
}
.comment::-webkit-scrollbar-track{
   background:#36454f;
    background-color: transparent;
}
.comment::-webkit-scrollbar-thumb{
   background:#1beabd;
}

.comments{
  display: flex;
  padding:10px;
  justify-content: space-between;

}
.container{
  display: flex;
  align-items: center;
  gap:10px;
}
.container > img {
  width:30px;
   height:30px;
   border-radius: 50%;
}
.container  > p {
  font-size: 15px;
}
.comments > span {
  font-size: 12px;
}
@media (max-width: 800px) {
  .wrapper {
    margin: 0;
  }
  .icons {
    width: 25vw;
  }
}

@media (min-width: 1400px) {
  .icons {
    width: 8vw;
  }
}
